:local {
    .light.wrapper {
        display: block;
    }
    .light.search-wrapper {
        text-align: right;
        .light.input {
            display: inline-block;
        }
        .light.button {
            display: inline-block;
        }
    }
    .light.control-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        border: 1px solid #bbb; 
        background: #bbb;
        padding: 10px 0;
        margin: 4px 0 2px;
        .light.control-label{
            .light.control-checkbox{
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .light.table {
        table-layout: fixed;
        width: 100%;
        .light.thead {
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            .light.tr {
                width: 100%;
                display: table;
                table-layout: fixed;
                background-color: #707070;
                .light.th{
                    text-align: left;
                    color: #fbfbfb;
                    cursor: pointer;
                    &.sort {
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            right: 10px;
                            top: calc(100% - 12px); 
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            display: block;
                            width: 0;
                            height: 0;
                        }
                        &.up:before {
                            border-bottom: 6px solid red;
                        }
                        &.down:before {
                            border-top: 6px solid red;
                        }
                    }
                }
            }
        }
        .light.tbody {
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            .light.tr {
                width: 100%;
                display: table;
                table-layout: fixed;
                border-bottom: 1px solid rgb(224, 224, 224);
                .light.td.edit{
                    $buttonWidth: 58px;
                    padding: 0;
                    .light.table.input{
                        display: inline-block;
                        width: calc(100% - #{2*$buttonWidth} - 4px);
                    }
                    .light.table.button{
                        display: inline-block;
                        width: $buttonWidth;
                    }
                }
            }
        }
    }
}
.light.parination-wrapper{
    display: block;
    .light.parination-button{
        &.active {
            background: red
        }
    }
}